/* #region Global */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #232323;
  color: #cdcdcd;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: #cdcdcd;
}

a:focus,
a:hover {
  color: #71a3ff;
}

a:active {
  color: #ff0000;
}
/* #endregion Global */

/* #region Header */
header {
  height: 50px;
}
/* #endregion Header */

/* #region Menu */
nav[role="navigation"] {
  display: block;
  position: relative;
  top: 10px;
  left: 50px;
  width: 0;
  z-index: 99;
  -webkit-user-select: none;
  user-select: none;
}

nav[role="navigation"] a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

nav[role="navigation"] a:hover {
  color: tomato;
}

nav[role="navigation"] input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

 nav[role="navigation"] span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

nav[role="navigation"] span:first-child {
  transform-origin: 0% 0%;
}

nav[role="navigation"] span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

 nav[role="navigation"] input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

 nav[role="navigation"] input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

 nav[role="navigation"] input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

 nav[role="navigation"] ul {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

nav[role="navigation"] li {
  padding: 10px 0;
  font-size: 22px;
}

 nav[role="navigation"] input:checked ~ ul {
  transform: none;
}
/* #endregion Menu */

/* #region Search */
nav[role="search"] {
  position: relative;
  top: -20px;
  left: 100px;
  height: 34px;
  width: 150px;
  border: solid blueviolet;
  display: flex;
  align-items: center;
}
nav[role="search"] input {
  height: 32px;
}

nav[role="search"] a {
  display: inline-flex;
  margin-left: 4px;
}

nav[role="search"] svg {
  height: 32px;
}
/* #endregion */

/* #region Main */
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

article {
  color: #FFFFFF;
  object-fit: contain;
}

main video,
main img {
  max-width: 100vw;
  max-height: 45vh;
  height: auto;
  width: 100%;
  vertical-align: top;
}

main p {
  display: none;
}
@media screen and (min-width: 481px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  main video,
  main img {
    max-width: 50vw;
  }
}

@media screen and (min-width: 769px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }

  main video,
  main img {
    max-width: 33vw;
  }
}

@media screen and (min-width: 1281px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }

  main video,
  main img {
    max-width: 25vw;
  }
}
/* #endregion Main content */
