* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(168, 164, 180);
    background-color: #393636b8;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0.5em;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    /*grid-template-columns: repeat(3, 1fr);*/
    justify-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: min(100% - 1em);
    margin-inline: auto;
}

video, img {
    max-width: 29vw;
    max-height: 45vh;
    object-fit: contain;
    height: auto;
    width: 100%;
    vertical-align: top;
}

p {
    display: none
}