############
# Binäärit #
############
*.avif
*.gif
*.ico
*.jpeg
*.jpg
*.jxl
*.m4a
*.mp4
*.pdf
*.png
*.webm
*.webp
*.zip

########################################
# Generaation väliaikaiset räpellykset #
########################################
html/tmp
html/tmp/**
html/tmpk18
html/tmpk18/**
html_sigal/destination_tmp
html_sigal/destination_tmp/**
html_sigal/destination_tmpk18
html_sigal/destination_tmpk18/**
html_sigal/source_tmpk18
html_sigal/source_tmpk18/**
html_sigal/source_tmp
html_sigal/source_tmp/**
html_sigal/sigal
html_sigal/sigal/**
html_sigal/sigal-justlight
html_sigal/sigal-justlight/**

######################
# Luodaan skriptillä #
######################
*gif*
*gif*/**
lazyload*
