############
# Binäärit #
############
*.avif
*.gif
*.ico
*.jpeg
*.jpg
*.jxl
*.mp4
*.png
*.webm
*.webp
*.zip

########################################
# Generaation väliaikaiset räpellykset #
########################################
html/tmp
html/tmp/**

######################
# Luodaan skriptillä #
######################
*gif*
*gif*/**
js/lazyload*

############
# symlinks #
############
_symlinks
_symlinks/**