{
	admin off
	email hans.kurppa@outlook.com
	servers {
		protocol {
			experimental_http3
		}
	}
}

#############################
# Kaikkien sivujen käytössä #
#############################
(server) {
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}
	header Strict-Transport-Security "max-age=31536000; includeSubDomains"
	header X-Content-Type-Options "nosniff"
	header *.css Cache-Control "no-cache"
	header *.html Cache-Control "no-cache"
	header *.js Cache-Control "no-cache"
	header *.json Cache-Control "no-cache"
	header *.txt Cache-Control "no-cache"
	header *.zip Cache-Control "no-cache"
	header *.gif Cache-Control "max-age=31536000, immutable"
	header *.ico Cache-Control "max-age=31536000, immutable"
	header *.jpeg Cache-Control "max-age=31536000, immutable"
	header *.jpg Cache-Control "max-age=31536000, immutable"
	header *.mp4 Cache-Control "max-age=31536000, immutable"
	header *.png Cache-Control "max-age=31536000, immutable"
	header *.webm Cache-Control "max-age=31536000, immutable"
	header *.css Content-Type "text/css"
	header *.html Content-Type "text/html"
	header *.js Content-Type "application/javascript"
	header *.json Content-Type "application/json"
	header *.txt Content-Type "text/plain"
	header *.zip Content-Type "application/zip"
	header *.gif Content-Type "image/gif"
	header *.ico Content-Type "image/vnd.microsoft.icon"
	header *.jpeg Content-Type "image/jpeg"
	header *.jpg Content-Type "image/jpeg"
	header *.mp4 Content-Type "video/mp4"
	header *.png Content-Type "image/png"
	header *.webm Content-Type "video/webm"
	encode gzip zstd
	file_server
}

###############################
# Cloudflare sivujen käytössä #
###############################
(cloudflare) {
	tls {
		protocols tls1.3
		alpn h2
		dns cloudflare {env.CF_API_TOKEN}
	}
}

##################################
# Vain GIF-gallerioiden käytössä #
##################################
(gifgallery) {
	redir /gif /gif/
	redir /jpg /jpg/
	redir /mp4 /mp4/
	redir /webm /webm/
	file_server /gif/* browse
	file_server /jpg/* browse
	file_server /mp4/* browse
	file_server /webm/* browse
}

####################
# Aktiiviset sivut #
####################
# Cloudflare ei ole käytössä
testdomain.vip {
	root * /var/www/testdomain
	tls {
		protocols tls1.3
		alpn h2
	}
	import server
}

# räbä.fi
xn--rb-viab.fi {
	root * /var/www/html
	redir /tmp https://xn--rb-viab.fi/
	redir /tmp/ https://xn--rb-viab.fi/
	redir /tmp/k18 https://xn--rb-viab.fi/
	redir /tmp/k18/ https://xn--rb-viab.fi/
	import cloudflare
	import server
}

# gifut.fi
gifut.fi {
	root * /var/www/gifut
	import cloudflare
	import server
	import gifgallery
}

# k18gifut.fi
k18gifut.fi {
	root * /var/www/k18gifut
	import cloudflare
	import server
	import gifgallery
}

# Alexandra Daddario
alexgifs.com {
	root * /var/www/alexgifs
	import cloudflare
	import server
	import gifgallery
}

# Alice Levine
alicegifs.com {
	root * /var/www/alicegifs
	import cloudflare
	import server
	import gifgallery
}

# Alison Brie
alisongifs.com {
	root * /var/www/alisongifs
	import cloudflare
	import server
	import gifgallery
}

# Alizée
alizeegifs.com {
	root * /var/www/alizeegifs
	import cloudflare
	import server
	import gifgallery
}

# Amy Adams
amygifs.com {
	root * /var/www/amygifs
	import cloudflare
	import server
	import gifgallery
}

# BEHM
behmgifs.com {
	root * /var/www/behmgifs
	import cloudflare
	import server
	import gifgallery
}

# Blake Lively
blakegifs.com {
	root * /var/www/blakegifs
	import cloudflare
	import server
	import gifgallery
}

# Christina Hendricks
christinagifs.com {
	root * /var/www/christinagifs
	import cloudflare
	import server
	import gifgallery
}

# Elisabeth Shue
elisabethgifs.com {
	root * /var/www/elisabethgifs
	import cloudflare
	import server
	import gifgallery
}

# Elizabeth Hurley
elizabethgifs.com {
	root * /var/www/elizabethgifs
	import cloudflare
	import server
	import gifgallery
}

# January Jones
januarygifs.com {
	root * /var/www/januarygifs
	import cloudflare
	import server
	import gifgallery
}

# Jessica Chastain
jessicagifs.com {
	root * /var/www/jessicagifs
	import cloudflare
	import server
	import gifgallery
}

# Julie Bowen
juliegifs.com {
	root * /var/www/juliegifs
	import cloudflare
	import server
	import gifgallery
}

# Katheryn Winnick
katheryngifs.com {
	root * /var/www/katheryngifs
	import cloudflare
	import server
	import gifgallery
}

# Kiernan Shipka
kiernangifs.com {
	root * /var/www/kiernangifs
	import cloudflare
	import server
	import gifgallery
}

# jokurandomkissakesälläpötköttämässäriihimäellä.fi
xn--jokurandomkissakesllptkttmssriihimell-dedcfbcgd30fc.fi {
	root * /var/www/jokurandom
	try_files {path} /sghdsgdfh.jpg
	header / Content-Disposition "filename=sghdsgdfh.jpg"
	import cloudflare
	import server
}

#############################
# Pysyvät edelleenohjaukset #
#############################
www.testdomain.vip {
	redir https://testdomain.vip{uri} permanent
}

www.xn--rb-viab.fi {
	redir https://xn--rb-viab.fi{uri} permanent
}

www.raba.fi {
	redir https://xn--rb-viab.fi{uri} permanent
}

raba.fi {
	redir https://xn--rb-viab.fi{uri} permanent
}

www.raebae.fi {
	redir https://xn--rb-viab.fi{uri} permanent
}

raebae.fi {
	redir https://xn--rb-viab.fi{uri} permanent
}

www.xn--jokurandomkissakesllptkttmssriihimell-dedcfbcgd30fc.fi {
	redir https://xn--jokurandomkissakesllptkttmssriihimell-dedcfbcgd30fc.fi{uri} permanent
}

www.gifut.fi {
	redir https://gifut.fi{uri} permanent
}

www.k18gifut.fi {
	redir https://k18gifut.fi{uri} permanent
}

www.amygifs.com {
	redir https://amygifs.com{uri} permanent
}

www.januarygifs.com {
	redir https://januarygifs.com{uri} permanent
}

www.behmgifs.com {
	redir https://behmgifs.com{uri} permanent
}

www.juliegifs.com {
	redir https://juliegifs.com{uri} permanent
}

www.alexgifs.com {
	redir https://alexgifs.com{uri} permanent
}

www.alicegifs.com {
	redir https://alicegifs.com{uri} permanent
}

www.alizeegifs.com {
	redir https://alizeegifs.com{uri} permanent
}

www.blakegifs.com {
	redir https://blakegifs.com{uri} permanent
}

www.christinagifs.com {
	redir https://christinagifs.com{uri} permanent
}

www.elisabethgifs.com {
	redir https://elisabethgifs.com{uri} permanent
}

www.elizabethgifs.com {
	redir https://elizabethgifs.com{uri} permanent
}

www.kiernangifs.com {
	redir https://kiernangifs.com{uri} permanent
}

www.alisongifs.com {
	redir https://alisongifs.com{uri} permanent
}

www.jessicagifs.com {
	redir https://jessicagifs.com{uri} permanent
}

www.katheryngifs.com {
	redir https://katheryngifs.com{uri} permanent
}
