{
	admin off
	email hans.kurppa@outlook.com
}

(server) {
	tls {
		protocols tls1.3
		alpn h2
	}
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}
	header Strict-Transport-Security "max-age=31536000; includeSubDomains"
	header X-Content-Type-Options "nosniff"
	header *.css Cache-Control "max-age=900"
	header *.html Cache-Control "max-age=900"
	header *.js Cache-Control "max-age=900"
	header *.json Cache-Control "max-age=900"
	header *.locale Cache-Control "max-age=900"
	header *.txt Cache-Control "max-age=900"
	header *.zip Cache-Control "max-age=900"
	header *.gif Cache-Control "max-age=31536000, immutable"
	header *.ico Cache-Control "max-age=31536000, immutable"
	header *.jpeg Cache-Control "max-age=31536000, immutable"
	header *.jpg Cache-Control "max-age=31536000, immutable"
	header *.mp4 Cache-Control "max-age=31536000, immutable"
	header *.png Cache-Control "max-age=31536000, immutable"
	header *.webm Cache-Control "max-age=31536000, immutable"
	header *.m4a Cache-Control "max-age=31536000, immutable"
	header *.css Content-Type "text/css"
	header *.html Content-Type "text/html"
	header *.js Content-Type "application/javascript"
	header *.json Content-Type "application/json"
	header *.txt Content-Type "text/plain"
	header *.zip Content-Type "application/zip"
	header *.gif Content-Type "image/gif"
	header *.ico Content-Type "image/vnd.microsoft.icon"
	header *.jpeg Content-Type "image/jpeg"
	header *.jpg Content-Type "image/jpeg"
	header *.mp4 Content-Type "video/mp4"
	header *.m4v Content-Type "video/x-m4v"
	header *.png Content-Type "image/png"
	header *.webm Content-Type "video/webm"
	header *.m4a Content-Type "audio/mp4"
	header *.locale Content-Type "application/octet-stream"
	encode gzip zstd
	file_server
}

(gifgallery) {
	redir /gif /gif/
	redir /jpg /jpg/
	redir /mp4 /mp4/
	redir /webm /webm/
	file_server /gif/* browse
	file_server /jpg/* browse
	file_server /mp4/* browse
	file_server /webm/* browse
}

testdomain.vip {
	root * /var/www/testdomain
	templates /ip
	header /ip Content-Type text/plain
	respond /ip "{{.RemoteIP}}"
	import server
}

# räbä.fi
xn--rb-viab.fi {
	root * /var/www/html
	redir /tmp https://xn--rb-viab.fi/
	redir /tmp/ https://xn--rb-viab.fi/
	import server
}

# mommygf.mom
mommygf.mom {
	root * /var/www/mommygf
	import server
}

# datakeskus.io
datakeskus.io {
	root * /var/www/datakeskus
	import server
}

# gifut.fi
gifut.fi {
	root * /var/www/gifut
	import server
	import gifgallery
}

# k18gifut.fi
k18gifut.fi {
	root * /var/www/k18gifut
	import server
	import gifgallery
}

# Alexandra Daddario
alexgifs.com {
	root * /var/www/alexgifs
	import server
	import gifgallery
}

# Alice Levine
alicegifs.com {
	root * /var/www/alicegifs
	import server
	import gifgallery
}

# Alison Brie
alisongifs.com {
	root * /var/www/alisongifs
	import server
	import gifgallery
}

# Alizée
alizeegifs.com {
	root * /var/www/alizeegifs
	import server
	import gifgallery
}

# Amy Adams
amygifs.com {
	root * /var/www/amygifs
	import server
	import gifgallery
}

# BEHM
behmgifs.com {
	root * /var/www/behmgifs
	import server
	import gifgallery
}

# Blake Lively
blakegifs.com {
	root * /var/www/blakegifs
	import server
	import gifgallery
}

# Christina Hendricks
christinagifs.com {
	root * /var/www/christinagifs
	import server
	import gifgallery
}

# Elisabeth Shue
elisabethgifs.com {
	root * /var/www/elisabethgifs
	import server
	import gifgallery
}

# Elizabeth Hurley
elizabethgifs.com {
	root * /var/www/elizabethgifs
	import server
	import gifgallery
}

# January Jones
januarygifs.com {
	root * /var/www/januarygifs
	import server
	import gifgallery
}

# Jessica Chastain
jessicagifs.com {
	root * /var/www/jessicagifs
	import server
	import gifgallery
}

# Julie Bowen
juliegifs.com {
	root * /var/www/juliegifs
	import server
	import gifgallery
}

# Katheryn Winnick
katheryngifs.com {
	root * /var/www/katheryngifs
	import server
	import gifgallery
}

# Kiernan Shipka
kiernangifs.com {
	root * /var/www/kiernangifs
	import server
	import gifgallery
}

# Rachel Cook
rachelgifs.com {
	root * /var/www/rachelgifs
	import server
	import gifgallery
}

# jokurandomkissakesälläpötköttämässäriihimäellä.fi
xn--jokurandomkissakesllptkttmssriihimell-dedcfbcgd30fc.fi {
	root * /var/www/jokurandom
	try_files {path} /sghdsgdfh.jpg
	header / Content-Disposition "filename=sghdsgdfh.jpg"
	import server
}

www.raba.fi, raba.fi, www.raebae.fi, raebae.fi, www.xn--rb-viab.fi {
	redir https://xn--rb-viab.fi{uri} permanent
}

www.testdomain.vip, www.mommygf.mom, www.datakeskus.io, www.gifut.fi, www.k18gifut.fi, www.amygifs.com, www.januarygifs.com, www.behmgifs.com, www.juliegifs.com, www.alexgifs.com, www.alicegifs.com, www.alizeegifs.com, www.blakegifs.com, www.christinagifs.com, www.elisabethgifs.com, www.elizabethgifs.com, www.kiernangifs.com, www.alisongifs.com, www.jessicagifs.com, www.katheryngifs.com, www.rachelgifs.com, www.xn--jokurandomkissakesllptkttmssriihimell-dedcfbcgd30fc.fi {
	redir https://{labels.1}.{labels.0}{uri} permanent
}
